:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-rgb: 33, 37, 41;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1.1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-body-marginleft: 10%;
  --bs-body-marginright: 10%;
  --bs-body-navbarFontSize:30px;
  --bs-body-navbarFontWeight: 550;
  --bs-body-navbarBgColor: rgb(39, 39, 39);
  --bs-body-navbarVerticalPadding: 10px;
  --bs-body-navbarHorizontalPadding: 0px;
  --bs-body-invitationTitleFontWeight: 600;
  --bs-body-invitationTitleFontSize: 35px;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  font-size: var(--bs-body-font-size);
}

.containerBody {
  margin-left: var(--bs-body-marginleft);
  margin-right: var(--bs-body-marginright);
}

/*--------------- NAVBAR STYLING -------------*/
.navbar {
  padding: var(--bs-body-navbarVerticalPadding)
    var(--bs-body-navbarHorizontalPadding);
  background-color: var(--bs-body-navbarBgColor);
  font-size: var(--bs-body-navbarFontSize);
  font-weight: var(--bs-body-navbarFontWeight);
}
#navbarContent {
  padding-left: 10px;
  color: white;
}

/*--------------- FOOTER STYLING -----------*/
.footer {
  font-weight: var(--bs-body-navbarFontWeight);
  font-size: var(--bs-body-navbarFontSize);
  margin-top: 100px;
  display: block;
  padding: 0px 0px 5px 0px;
  /* background-image: url("subfooter.jpg"); */
  /* background: green url("subfooter.jpg") right no-repeat; */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.555), rgba(255, 255, 255, 0.5)), url(subfooter.jpg) repeat;
}
#footerContent {
  height: 300px;
  font-size: 40px;
  color: black;
}

/* --------------TOP TEXT STYLING ----------------- */
#Text {
  margin: 0px;
  padding: 30px 0px 30px 0px;
}

/*-------------- INVITATION STYLING ---------------*/
.container-flex {
  margin-top: 25px;
  display: flex;
}
/*Invitation left side*/
#image {
  width: 55%;
  height: 450px;
  margin-top: auto;
  margin-bottom: auto;
}
/*Invitation right side*/
#invitation {
  margin-left: 50px;
  margin-top: 0px;
}
#invitationTitle {
  font-size: var(--bs-body-invitationTitleFontSize);
  font-weight: var(--bs-body-invitationTitleFontWeight);
}
#invitationText {
  margin: 10px 0px;
}

/*--------------- INCENTIVES STYLING --------------*/
.incentivesContainer {
  background-color: rgba(0, 0, 0, 0.739);
  margin: 50px 10%;
  color: white;
  border-radius: 1rem;
}
#incentives {
  padding: 30px 30px;
}

/* --------------- EXPERIENCES STYLING ----------- */
#facultyExperiences {
  box-sizing: border-box;
}
#experiencesTitle {
  padding-left: 20px;
  padding-top: 80px;
  width: 70%;
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 50px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1600px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(153, 153, 153, 0.8);
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* The dots/bullets/indicators */
#dots {
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*--------------- EXPERIENCES CARD STYLING -------------*/
.card-wrapper {
  position: relative;
  display: flex;
  min-height: 500px;
  justify-content: flex-end;
}
.card-left {
  position: absolute;
  left: -5%;
  top: 20%;
  right: auto;
  bottom: 0%;
  width: 35%;
  height: 0px;
  min-height: 440px;
  border-radius: 5px;
  background-image: url("https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e83fe3910db4fde2e69f396_christiann-koepke-dQyS2pMYtok-unsplash%20(1).jpg");
  background-position: 70% 80%;
  background-size: 270%;
}
.card-right {
  display: flex;
  width: 80%;
  padding: 25px;
  border-radius: 5px;
  background-color: #222;
  color: #f9f9f9;
}
.card-content-wrapper {
  width: 90%;
  padding-right: 40px;
  padding-left: 145px;
}
.card-heading {
  margin-top: 0px;
  font-size: 45px;
  line-height: 1.2;
}
