:root {
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  /* --bs-body-navbarBgColor: rgb(39, 39, 39); */
  /* --bs-body-invitationTitleFontSize: 35px; */
  /* use var(--bs-body-navbarFontSize) instead of 30px */
}

/* ----------------- BODY STYLING ------------------ */
body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.1rem;
}

/* -------------- FIRST PAGE STYLING --------------- */
.firstPage {
  height: 100vh;
  background-color: white;
  overflow: hidden;
}
.navbar {
  padding: 4vh 0px;
  font-size: 4vh;
}
#navbarContent {
  padding-left: 7%;
  color: black;
}
#firstPageContent {
  height: 88vh;
}
/* ----------------------- */
#firstPageSpace {
  display: flex;
  height: 75vh;
  align-items: flex-end;
}
#firstPageText {
  padding: 1vh 5%;
  font-size: 2vh;
}
#firstPageText #bigText {
  font-size: 9vh;
}
#firstPageFooter {
  font-size: 2vh;
  font-weight: 550;
  color: black;
  display: flex;
  justify-content: center;
}

/* -------------- SECOND PAGE STYLING --------------- */
.secondPage {
  display: flex;
  align-items: center;
  margin: 0px 5vw;
  min-height: 70vh;
  font-size: 2vh;
}
#invitationImage {
  width: 55%;
  height: 40vh;
}
#invitation {
  margin: 1.5vh 3vw;
}
#invitationTitle {
  font-size: 4vh;
  font-weight: 600;
  margin-bottom: 1vh;
}

/*--------------- INCENTIVES STYLING --------------*/
.incentivesContainer {
  display: flex;
  align-items: center;
  background-image: url("./subfooter1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 80%;
  color: black;
  min-height: 30vh;
  font-size: 2.5vh;
}
#incentives {
  padding: 2vh 3vw;
  text-align: center;
}

/* --------------- EXPERIENCES STYLING ----------- */
#thirdPage {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 5vh 0vh;
}
#thirdPageTitle {
  padding: 0vh 7%;
  padding-bottom: 5vh;
  font-size: 4vh;
  font-weight: 600;
}

/* ----- -SLIDING CARDS TEMPELATE----- */
/* Slideshow container */
.slideshow-container {
  max-width: 1600px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(153, 153, 153, 0.8);
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* The dots/bullets/indicators */
#dots {
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*------- EXPERIENCES CARD STYLING --------*/
.card-wrapper {
  display: flex;
  min-height: 70vh;
  justify-content: flex-end;
  padding-right: 6vw;
  margin: 0px 10vw;
  background-color: #1a1b1f;
  border-radius: 5px;
  color: #f9f9f9;
  font-size: 1.9vh;
  align-items: center;
}
.card-content-wrapper {
  width: 90%;
  padding: 5vh 0vw;
}
.card-heading {
  font-size: 4.5vh;
  line-height: 1.2;
}

/*--------------- FOOTER STYLING -----------*/
footer {
  background-color: #1a1b1f;
  margin: 0px;
}
.footer-main .container .row {
  display: flex;
  padding: 20px 10%;
  height: 300px;
  /* font-size: 40px; */
}

/* if container of x is having property display flex then we can use below properties
for y which is present in x 
margin-top: auto;
margin-bottom: auto; */
