* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    height: 100%;
  }
  body {
    margin: 0;
    min-height: 100%;
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
  }
  
  a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
}

  h1 {
  text-align: left;
  padding-left: 13%;
  font-size:45px;
}

  .local-wrapper {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 500px;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: center;
  }
  
  .local-left {
    position: absolute;
    left: 7%;
    top: 7%;
    right: auto;
    bottom: 0%;
    width: 20%;
    height: 0px;
    min-height: 400px;
    border-radius: 5px;
    
    background-position: 69% 80%;
    background-size: 270%;
  }
  
  .local-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    padding: 45px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-radius: 5px;
    border: 5px solid #008080;
    background-color: #40B5AD ;
    color: white;
  }
  
  .local-content-wrapper {
    width: 80%;
    padding-right: 100px;
    padding-left: 95px;
  }
  
  .local-heading {
    margin-top: 5px;
    font-size: 35px;
    line-height: 0.6;
  }

  .box {
  background-color: #40E0D0;
  width: 300px;
  border: 0px solid #008080;
  padding: 0px;
  margin: 20px;
  position: absolute;
  left: 7.2%;
  top: 69%;
  right: auto;
  bottom: 0%;
  width: 20%;
  height: 0px;
  min-height: 117px;
  border-radius: 5px;
  text-align: center;
  }
  
  @media screen and (max-width: 1900px) {
    .box {
      top: 69%;
      width: 310px;
      left: 7%;
    }
  }

    @media screen and (max-width: 1160px) {
    .box {
      top: 70%;
      width: 310px;
      left: 5%;
    }
  }

  @media screen and (max-width: 1135px) {
  
    .local-left {
      top: 8%;
      left: 0%;
    }
    .local-right{
      width: 50%;
     padding: 5px;
     justify-content: end;
    }
    .local-content-wrapper {
      padding-right: 0px;
      padding-left: 0px;
    }
    .local-heading {
      margin-top: 0px;
    }
    .box {
      top: 75%;
      width: 310px;
      left: 2%;
    }

  }

  @media screen and (max-width: 960px) {
    .local-container {
      padding-right: 0px;
      padding-left: 0px;
    }
    .local-wrapper {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .local-left {
      position: static;
      width: 100%;
      border-radius: 0px;
      left: 7%;
    }
    .local-right {
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 0px;
    }
    .box {
      top: 15%;
      width: 310px;
      left: 50%;
    }
  }
  
  @media screen and (max-width: 890px) {
    .local-container {
      padding-right: 0px;
      padding-left: 0px;
    }
    .local-wrapper {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .local-left {
      position: static;
      width: 100%;
      border-radius: 0px;
      left: 7%;
    }
    .local-right {
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 0px;
    }
    .box {
      top: 15%;
      width: 310px;
      left: 50%;
    }
    h1{
      font-size:30px;
      text-align: left;
      padding-left: 0%;
    }
  }

  @media screen and (max-width: 660px) {
    .local-container {
      padding-right: 0px;
      padding-left: 0px;
    }
    .local-wrapper {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .local-left {
      position: static;
      width: 100%;
      border-radius: 0px;
      left: 7%;
    }
    .local-right {
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 0px;
    }
    .box {
      top: 15%;
      width: 230px;
      right: 0%;
      left: 57%;
    }
    h1{
      font-size:30px;
      text-align: left;
      padding-left: 0%;
    }
  }

    @media screen and (max-width: 580px) {
    .local-container {
      padding-right: 0px;
      padding-left: 0px;
    }
    .local-wrapper {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .local-left {
      position: static;
      width: 100%;
      border-radius: 0px;
      left: 7%;
    }
    .local-right {
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 0px;
    }
    .box {
      top: 50%;
      width: 220px;
      right: 0%;
      left: 11%;
    }
    h1{
      font-size:30px;
      text-align: left;
      padding-left: 0%;
    }
  }

      @media screen and (max-width: 513px) {
    .local-container {
      padding-right: 0px;
      padding-left: 0px;
    }
    .local-wrapper {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .local-left {
      position: static;
      width: 100%;
      border-radius: 0px;
      left: 7%;
    }
    .local-right {
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 0px;
    }
    .box {
      top: 60%;
      width: 220px;
      right: 0%;
      left: 11%;
    }
    h1{
      font-size:25px;
      text-align: left;
      padding-left: 0%;
    }
  }

  @media screen and (max-width: 479px) {
    .local-section {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .local-right {
      padding-right: 0px;
      padding-left: 0px;
    }
    .box {
      top: 50%;
      width: 220px;
      right: 0%;
      left: 11%;
    }

  }
  